*{
    margin:0;
    padding: 0;
    border: 0px;
}

body{
    background: url(img/poke.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0px;
    padding: 0px;
    display: flex; /*COMENTAR*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    
}

header{
    width: 100%;
    padding: 10px 60;
    color: white; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    /*background: linear-gradient(to right, #000000,#0f9b0f);  */ 
}

header h1{
    margin-left: 30px;
    font-size: 25px;
}
#pokeIma{
    width: 4%;
    text-align: center;
    margin-right: 30px;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.ventana{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(47, 122, 192, 0.466);
    border-radius: 10px;
    padding: 17px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow:25px 24px 24px -9px rgba(0,0,0,0.75);
    -moz-box-shadow:25px 24px 24px -9px rgba(0,0,0,0.75);
    box-shadow: 25px, 24px 24px -9px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 1024px){
    .ventana{
        width: 90%;
        margin: 5% 0 5% 0;
    }
}

.galerias-principal{
    display:block;
    margin:auto;
    align-items: center;
    margin-bottom:20px;
    width: 50%;
    border-radius: 50%;
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 80%;
}

.grupo{
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.input-grupo{
    display: flex;
    width: 100%;
    margin: 15px 0 15px 0;
}

.input-grupo > i{
    padding: 10px;
    border: 2px solid #222f4e;
    background: linear-gradient(to right, rgb(43, 157, 177), #A2DB95);
    border-radius: 40px;
}

input{
    width: 100%;
    padding: 12px 20px;
    outline: none;
    background: rgba(57, 57, 59, 0.431);
    color: white;
}

input:focus{
    border: 2px solid #222f4e;
}

.grupo-boton{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grupo-boton > button{
    margin:10px;
    width: 30%;
    height: 40%;
    border-radius: 5px;
    outline: none;
    background: linear-gradient(to right, #24CCAA, #A2DB95);
    color: white;
    border: 2px solid #222f4e;
    cursor: pointer;

    -webkit-box-shadow: 14px 13px 29px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 13px 29px -6px rgba(0,0,0,0.75);
    box-shadow: 14px 13px 29px -6px rgba(0,0,0,0.75);
    transition: all 1s;
}

.grupo-boton > button:hover{
    color: white;
    background: #222f4e;
}

.mensaje{
    background: rgb(235, 184, 136);
    color: rgb(158, 48, 4);
    font-size: 20px;
}

.hide{
    display: none;
}

::placeholder{
    color: rgb(195, 192, 204);
}

/*MENU POKE*/
.flip-card {
    background-color: transparent;
    width: 240px;
    height: 400px;
    perspective: 1000px;
    display: inline-block;
    align-content: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 20px;
    cursor: pointer;
    /* Remove this if you don't want the 3D effect */
  }
  
  .img-poke{
    width: 150px;
    height: 185px;
    margin: auto;
    display: block;
  }

  .estilos{
    margin-top: 20px;
    color:white;

  }

  .nombre{
    color: #024959;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;   
}

.numeroPoke{
    color: #000000;
    text-align: center;
    margin-top: 10px;
}

  /*Este contenedor es necesario para colocar la parte delantera y trasera. */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 70%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
  }
  
  /* Realice un giro horizontal cuando mueva el mouse sobre el contenedor del contenedor*/
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Posiciona la parte delantera y trasera. */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Estilo de la parte frontal (retroceso si falta la imagen)*/
  .flip-card-front {
    background-color:rgb(196, 205, 255);
    color: black;
    border-radius: 20px;
    border: 2px solid rgb(142, 144, 245);
  }
  
  /* Estilo de la parte posterior*/
  .flip-card-back {
    background-color: #252e8d;
    color: white;
    transform: rotateY(180deg);
    border-radius: 30px;
    border: 1px solid #060b44;
    cursor: pointer;
  }
  

  #menubar{
    text-decoration: none;
    padding: 15px 15px;
    font-weight: 600;
    font-size: 21px;
    color: white;
    display: flex;
    justify-content: center;
  }

  .inicio{
     width: 100px;
     height: 50px;
     border-radius: 4px;
     background-color: #060b44;
     color: white;
     margin-right: 5px;
     cursor: pointer;
  }

  .inicio:hover{
    background-color: #0546a0;  
  }

  .diseñoMenu{
    width: 150px;
    height: 50px;
    border-radius: 4px;
    background-color: #060b44;
    color: white;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
  }

  .diseñoMenu:hover{
    background-color: #0546a0;  
  }
.salir{
    width: 100px;
    height: 50px;
    border-radius: 4px;
    background-color: #060b44;
    color: white;
    margin-right: 5px;
    cursor: pointer; 
}

.salir:hover{
    background-color: #0546a0;  
  }

.huevos{
  width: 100px;
  height: 50px;
  border-radius: 4px;
  background-color: #060b44;
  color: white;
  margin-right: 5px;
  cursor: pointer; 
  }

.huevos:hover{
    background-color: #0546a0;  
  }
  /*LOGO CARDS*/
  .imagen-logo{
    width: 200px;
    margin-top: 80px;
  }

  .imagen-pokego{
    width: 200px;
    height: 180px;
  }

  /*HUEVOS*/

  .cuenta{
    font-size: 25px;
    color: #024959;
    margin-top: 10px;
    text-align: center;
    font-family: 'PT Serif', serif;
  }