*{
  margin:0;
  padding: 0;
  border: 0px;
}

body{
  background: url(img/portada.jpeg  );
  background-repeat: no-repeat;
  background-position: center; 
  /* background: #ffffff; */
  background-attachment: fixed;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  display: flex; /*COMENTAR*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Signika', sans-serif;
}

/* Personalizar el scroll */
body::-webkit-scrollbar{
  width: 8px;
}

body::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
  box-shadow: 0 0 2px 10x rgb(0, 0, 0, 0.2);
}
/* Fin Personalizar el scroll */

header{
  width: 100%;
  height: 50px;
  background: #34495e;
  position: fixed;
  margin-top: 25px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  font-family: 'Sniglet', cursive;
}

header > h1 {
  margin-left: 20px;
}

#pokeima{
  height: 40px;
  width: 40px;

}


main{

}



.ventana{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(54, 88, 180, 0.425);
  border-radius: 10px;
  padding: 17px;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow:25px 24px 24px -9px rgba(0,0,0,0.75);
  -moz-box-shadow:25px 24px 24px -9px rgba(0,0,0,0.75);
  box-shadow: 25px, 24px 24px -9px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 1024px){
  .ventana{
      width: 60%;
      margin: 5% 0 5% 0;
  }
}

.galerias-principal{
  display:block;
  margin:auto;
  align-items: center;
  margin-bottom:20px;
  width: 50%;
  border-radius: 50%;
}

.input-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 80%;
}

.grupo{
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.input-grupo{
  display: flex;
  width: 100%;
  margin: 15px 0 15px 0;
}

.input-grupo > span{
  height: 40px;
  width: 50px;
  text-align: center;
  line-height: 40px;
  margin: 2px 5px 2px 2px;
  border: 2px solid #050505;
  background: -webkit-linear-gradient(to right, #24CCAA, #A2DB95);
  background: linear-gradient(to right, #24CCAA, #A2DB95);
  border-radius: 50%;
}

input{
  width: 100%;
  padding: 12px 20px;
  outline: none;
  background: rgba(57, 57, 59, 0.431);
  color: white;
}

input:focus{
  border: 2px solid rgb(0, 136, 109);
}

.grupo-boton{
  width: 100%;
  height: 50px;
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.grupo-boton > button{
  margin:10px;
  width: 30%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  background:  #1628c7;
  background: -webkit-linear-gradient(to top, #023276, #454fdd);  
  background: linear-gradient(to top, #023276, #454fdd);
  color: white;
  border: 2px solid #222f4e;
  cursor: pointer;

  -webkit-box-shadow: 14px 13px 29px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 13px 29px -6px rgba(0,0,0,0.75);
  box-shadow: 14px 13px 29px -6px rgba(0,0,0,0.75);
  transition: all 1s;
}

.grupo-boton > button:hover{
  color: white;
  background: #222f4e;
}

.mensaje{
  background: rgb(235, 184, 136);
  color: rgb(158, 48, 4);
  font-size: 20px;
}

.hide{
  display: none;
}

::placeholder{
  color: rgb(195, 192, 204);
}

.logo{
  position: absolute;
  height: 150px;
  margin-top:  -95px;
}


#formularios{
  width: 100%;
  height: 80px;
  width: 100%;
  background: #1c2938;
  text-align: center;
  line-height: 80px;
  text-align: center;
  width: 100%;
  }

#contenedorPoke{
  background: #f8f8dd;
  width: 80%;
  text-align: center;
  padding: 0 50px 0 0;
   /* display: flex;
  align-items: center;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between; */

}

/*MENU POKE*/
.flip-card {
  background-color: transparent;
  width: 240px;
  height: 400px;
  perspective: 1000px;
  display: inline-block;
  align-content: center;
  justify-content: space-around;
  cursor: pointer;
  margin: 10px 10px 10px 5px;
  cursor: pointer;  
  /* Remove this if you don't want the 3D effect */
}

.img-poke{
  width: 240px;
  height: 200px;
  /* margin: auto;
  display: block; */
  background: #4647490c;

}

.estilos{
  margin-top: 20px;
  color:white;
  text-align: left;
  margin: 5px 20px;
  
}

.nombre-back{
  color: #f8f8f8;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  margin: 10px 20px;
  border-radius: 5px;
  background:black;  
  margin-bottom: 10px;
}

.caracteristicas{
  margin:10px;
}
.nombre{
  color: #f8f8f8;
  font-size: 20px;
  padding: 5px;
  margin: 5px 20px;
  border-radius: 5px;
  background: #024959;  
  margin-bottom: 10px;
}

.numeroPoke{
  color: #024959;
  text-align: center;
  margin-top: 10px;
  text-align: left;
  font-weight: bold;
  margin: 5px 20px;
  border-bottom: 2px solid #024959;
}

.tipo{
  color: #060136;
  margin: 5px 20px;
  text-align: left;
  margin-bottom: 10px;
}
/*Este contenedor es necesario para colocar la parte delantera y trasera. */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  
}

/* Realice un giro horizontal cuando mueva el mouse sobre el contenedor del contenedor*/
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Posiciona la parte delantera y trasera. */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Estilo de la parte frontal (retroceso si falta la imagen)*/
.flip-card-front {
  background-color: #fff;
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.125);
  text-align: center;
  cursor: pointer;
  color: black;
}

/* Estilo de la parte posterior*/
.flip-card-back {
  background-color: #024959;
  color: black;
  transform: rotateY(180deg);
  border-radius: 5px;
  border: 1px solid #024959;
  cursor: pointer;
}



.inicio{
   width: 100px;
   height: 50px;
   border-radius: 4px;
   background-color: #E84848;
   color: white;
   margin-right: 5px;
   cursor: pointer;
}

.inicio:hover{
  background-color: #0546a0;  
}



.diseñomenu{
  width: 150px;
  height: 50px;
  border-radius: 4px;
  background-color: #E84848;
  color: white;
  margin-right: 5px;
  text-align: center;
  cursor: pointer;
}

.diseñomenu:hover{
  background-color: #0546a0;  
}
.salir{
  width: 100px;
  height: 50px;
  border-radius: 4px;
  background-color: #E84848;
  color: white;
  margin-right: 5px;
  cursor: pointer; 
}

.salir:hover{
  background-color: #0546a0;  
}

.huevos{
width: 100px;
height: 50px;
border-radius: 4px;
background-color: #E84848;
color: white;
margin-right: 5px;
cursor: pointer; 
}

.huevos:hover{
  background-color: #0546a0;  
}
/*LOGO CARDS*/
.imagen-logo{
  width: 200px;
  margin-top: 80px;
}

.imagen-pokego{
  width: 200px;
  height: 180px;
}

/*HUEVOS*/

.cuenta{
  width: 40%;
  height: 40px;
  font-size: 25px;
  color:white;
  margin-top: 10px;
  text-align: center;
  background: #023276;
  border-bottom: 5px solid #170249;
  padding: 5px;
  border-radius: 2px;
  margin: 5px;
}

#atrapados{
  background: #f8f8f8;
  color: black;
  border-bottom: 5px solid #170249;
  padding: 5px;
  border-radius: 2px;
  margin: 5px;
 
}

#noatrapados{
  background: #f8f8f8;
  color: black;
  border-bottom: 5px solid #170249;
  padding: 5px;
  border-radius: 2px;
  margin: 5px;

}